{% extends "layout.html" %} 

{% block content %}
<div class="">
    <b>Hodlboard</b> is a simple forum with "Inns" (a bit like subreddits)
    and "Solo" (for microblogging). It is a fork of
    <a href="https://github.com/freedit-org/freedit">freedit</a>
<br><br>
</div>
<div class="">
    <b>Hodlboard</b> exists to demo one extra feature: <ul>access to the forum requires
        ownership of a single utxo greater than 500K sats.</ul>
    <br>
    You don't need to <emph>spend</emph> the utxo, or hold it (despite the name!),
    it just needs to exist <emph>at that time</emph>. Moreover,
    <emph>which</emph> utxo is yours is kept hidden,
    using the power of zero knowledge proofs.
    <br>
    To generate the proof, you'll first need a <b>keyset file</b>,
    a large file of all the taproot pubkeys in the current utxo set
    holding more than 500K sats.
    <br>
    <br>
    For how to get the keyset file, see <a href="./keysets">here</a>.
    <br><br>
    Once you have that keyset file, go <a href="./proofs">here</a>
    for exact instructions on generating the proof.
    Once you have the proof you can copy paste it into the <a href="./signup">signup</a>
    page and start using the forum!
</div>
{% endblock %}
